$color-main: #1d1d1d;
$color-gray: #8C8C8C;
$color-peach-main: #FF868E;
$color-peach-secondary: #FBE0DC;
$color-hover-peach: rgba(255, 134, 142, 0.6);
$color-violet: #B4B7FF;
$color-green: #97EAB9;
$color-orange: #FFD280;

$main-font: 'Jost', sans-serif;
