@import './font.scss';
@import './variables.scss';
@import './splide.scss';

* {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.view-container {
  padding: 30px 30px 18px;
}

.content-container {
  max-width: 680px;
  width: 100%;
  margin-left: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .body {
    margin-top: 20px;


    img {
      width: 100%;
      border-radius: 20px;
    }
  }
}

.icon-link,
.view-header__link {
  transition: all 0.3s;

  path {
    fill: $color-peach-main;
    transition: all 0.3s;
  }

  &:hover {
    background: $color-peach-secondary;
  }
}

.back-button {
  transition: all 0.3s;

  path {
    fill: $color-peach-main;
  }

  &:hover {
    background: $color-peach-main;

    path {
      filL: #fff;
    }
  }
}

.view-header__link {
  &.active-link {
    background: $color-peach-main;

    path {
      fill: #fff;
    }
  }
}

.view-title {
  font: 500 20px/30px $main-font;
  background: $color-peach-main;
  color: #fff;
  padding: 5px 30px;
  letter-spacing: 2px;
  border-radius: 10px;
  max-width: 143px;
  text-align: center;
  margin-left: 10px;
}
