@import './font.scss';
@import './variables.scss';

* {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
